.profile__avatar-edit{
  position: absolute;
  background: url(../../../image/edit-avatar.svg);
  background-size: 26px 26px;
  background-position: center;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  top: -1px;
  left: -1px;
  opacity: 0;
}

.profile__avatar-edit:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}