.profile__edit-button{
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0;
  align-self: center;
  background: url(../../../image/edit-button.svg);
  background-size: contain;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px){
  .profile__edit-button{
    width: 18px;
    height: 18px;
  }
}