.form__button{
  padding: 0;
  margin-top: 48px;
  border: none;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.form__button:hover{
  opacity: 0.8;
}

@media (max-width: 650px){
  .form__button{
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}