.form__fieldset{
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 36px 0;
}

@media (max-width: 650px){
  .form__fieldset{
    padding: 0 22px 0;
  }
}