.overlay__close{
  position: absolute;
  padding: 0;
  background: url(../../../image/close.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  right: -40px;
  top: -40px;
  border: none;
  cursor: pointer;
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}

.overlay__close:hover{
  opacity: 0.6;
}