.overlay__item{
  border: none;
  min-width: 358px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding: 0 0 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 650px){
  .overlay__item{
    min-width: 238px;
  }
}