.profile__caption{
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 800px){
  .profile__caption{
    justify-self: center;
  }
}

@media (max-width: 600px){
  .profile__caption{
    font-size: 14px;
    line-height: 17px;
  }
}