.profile__caption{
  min-width: 300px;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 800px){
  .profile__caption{
    justify-self: center;
    max-width: 400px;
  }
}

@media (max-width: 600px){
  .profile__caption{
    font-size: 14px;
    line-height: 17px;
    min-width: 190px;
    max-width: 282px;
  }
}