.card__like{
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0;
  background: url(../../../image/like.svg);
  background-size: cover;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  justify-self: end;
  align-self: center;
  transition: 0.3s ease-in-out;
}

.card__like:hover{
  opacity: 0.5;
}