.form__input{
  border: none;
  min-width: 358px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  padding: 0 0 13px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 13px;
  position: relative;
}

.form__input:first-of-type{
  margin-top: 54px;
}

@media (max-width: 650px){
  .form__input{
    min-width: 238px;
  }
  .form__input:first-of-type{
    margin-top: 75px;
  }
}

